.previewcontainer {
    margin: 20px;
    padding: 20px;
    width: 20%;
  
}
.product-link {
    color: black;
}
.previewbox .btn-custom {
    background-color: #e3bc9a;
    color: black; 
    font-size: 16px; 
}

.previewbox .btn-custom:hover {
    background-color: #cd874a;
    transition: all 0.50s ease;
  }