.productcardbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin: 30px;
    height: 60vh;
    padding: 0;
}

.productcardbox img {
        width: 30%;
        height: 25%
}

.productcardbox .btn-custom {
    background-color: #e3bc9a;
    color: black; 
    font-size: 16px; 
}

.productcardbox .btn-custom:hover {
    background-color: #cd874a;
    transition: all 0.50s ease;
  }