.productcardcontainer {
    margin-bottom: 50px;
}

.productcardbox {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 60vh;
    padding: 20px;
    border: 1px solid #d4c8c8; 
    border-radius: 8px; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.productcardbox img {
        width: 45%;
        height: 35%
}

.productcardbox .btn-custom {
    background-color: #e3bc9a;
    color: black; 
    font-size: 16px; 
}

.productcardbox .btn-custom:hover {
    background-color: #cd874a;
    transition: all 0.50s ease;
  }